* {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  font-size: 1em;
}

/* --------------------- Header Styles  -------------------------- */
.header {
  width: 100%;
  height: 20vh;
  background-color: #c1c1c1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 4em;
  margin: 10px;
}

h3 {
  font-size: 2.5em;
  margin: 10px;
}

ul {
  padding: 0;
  margin: 20px;
}

li {
  display: flex;
  align-items: center;
  margin: 10px;
}

i {
  display: inline-block;
}

p,
strike,
h2,
.list-expand {
  display: inline-block;
  flex-grow: 1;
  margin-right: 10px;;
  padding: 0 5px;
  text-align: left;
}

.list-expand {
  height: 30px;
  border-radius: 5px;
  border-style: none;
  font-weight: bolder;
  background-color: none;
}


/* -------------------- Add List Styles -------------------------- */

.add-list {
  font-size: 1.5em;
}

.btn {
  background-color: grey;
  border-radius: 10%;
  border-style: none;
  width: 50px;
  height: 50px;
}

.fa {
  font-weight: 900;
}

select {
  width: 50px;
  height: 50px;
  border-style: solid;
  border-radius: 10%;
}

select.black,
option[value="black"] {
  color: black;
}

select.red,
option[value="red"] {
  color: red;
}

select.blue,
option[value="blue"] {
  color: blue;
}

select.green,
option[value="green"] {
  color: green;
}

select.orange,
option[value="orange"] {
  color: orange;
}

select.purple,
option[value="purple"] {
  color: purple;
}

.icon-btn {
  background: none;
  border: none;
  width: 25px;
  height: 25px;
  text-align: center;
}
