* {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  font-size: 1em;
}

/* ========================= Font Styles =================================== */

h1 {
  font-size: 4em;
  margin: 10px;
}

h3 {
  font-size: 2.5em;
  margin: 10px;
}

/* ===================== Header Styles  ==================================== */

.header {
  width: 100%;
  height: 150px;
  background-color: #c1c1c1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#clear {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}

/* ============================ Add List Styles ============================ */

li {
  display: flex;
  align-items: center;
  margin: 10px;
  height: 40px;
  border-radius: 5px;
  border-style: none;
}

form {
  margin: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.add-list {
  font-size: 1.5em;
}

#listName {
  border-radius: 5px;
  border-style: solid;
  height: 50px;
  border-width: 1px;
  flex-grow: 1;
  margin: 10px;
}

.submit-list {
  border-radius: 10%;
  border-style: none;
  width: 50px;
  height: 50px;
  margin: 10px;
}

select {
  width: 50px;
  height: 50px;
  border-style: solid;
  border-radius: 10%;
  margin: 10px 0;
}

select.d4d4dd,
option[value="d4d4dd"] {
  color: #d4d4dd;
}

select.e96464,
option[value="e96464"] {
  color: #e96464;
}

select.a7bfed,
option[value="a7bfed"] {
  color: #a7bfed;
}

select.a7edb0,
option[value="a7edb0"] {
  color: #a7edb0;
}

select.e9bc64,
option[value="e9bc64"] {
  color: #e9bc64;
}

select.ddace8,
option[value="ddace8"] {
  color: #ddace8;
}

/* ========================= Lists ========================================= */

ul {
  padding: 0;
  margin: 20px;
}

li {
  display: flex;
  align-items: center;
  margin: 10px;
  height: 40px;
  border-radius: 5px;
  border-style: none;
}

.list-btn {
  display: inline-block;
  flex-grow: 1;
  height: 40px;
  margin-right: 10px;
  padding: 0 20px;

  background-color: inherit;
  border-radius: 5px;
  border-style: none;
  text-align: left;
  font-weight: bolder;
}

.delete-list {
  display: inline-block;
  background: none;
  border: none;
  text-align: center;
  font-size: 1.2em;
  padding: 10px;
  margin-right: 10px;
}

/* ========================= Page styles ================================== */
.hidden {
  display: none;
}

/* ========================= Task Page ==================================== */

#listhead {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.home {
  background-color: inherit;
  border: none;
  font-size: 3em;
  display: inline-block;
  padding: 20px;
  margin: 0 30px;
}

.listtitle {
  display: inline-block;
  flex-grow: 1;
}

.add-task {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100vw;
}






#container {
  max-width: 600px;
  margin: auto;
}
